/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-v18-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('fonts/roboto-v18-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v18-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v18-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v18-latin_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/roboto-v18-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('fonts/roboto-v18-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v18-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v18-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v18-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v18-latin_cyrillic-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/roboto-v18-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('fonts/roboto-v18-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v18-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v18-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v18-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v18-latin_cyrillic-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/roboto-v18-latin_cyrillic-900.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black'), local('Roboto-Black'),
       url('fonts/roboto-v18-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v18-latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v18-latin_cyrillic-900.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v18-latin_cyrillic-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v18-latin_cyrillic-900.svg#Roboto') format('svg'); /* Legacy iOS */
}

html, body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: 'Roboto';
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.popup-container{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-image: url('img/bg.png');
}

.popup-container__callback {
  display: none;
  background-color: white;
  width: 500px;
  height: 300px;
  border-radius: 5px;
  margin: 10% auto;
}

.popup-container__callback__form {
  padding: 20px;
}

.popup-container__callback__form__text {
  text-align: center;
}

.popup-container__form__name {
  display: block;
  margin: 20px auto;
  padding: 5px 0 5px 10px;
  width: 80%;
  height: 24px;
  outline: 0;
  border: 1px solid #d96e5bbf;
}

.popup-container__callback__form__phone {
  display: block;
  margin: 20px auto;
  padding: 5px 0 5px 10px;
  width: 80%;
  height: 24px;
  outline: 0;
  border: 1px solid #d96e5bbf;
}

.popup-container__callback__form__button {
  cursor: pointer;
  display: block;
  padding: 15px 60px;
  margin: 30px auto 0 auto;
  border: none;
  color: #fff;
  background-color: #ff4e2e;
  font-size: 18px;
}

.popup-container__question {
  display: none;
  height: 450px;
  width: 500px;
  border-radius: 5px;
  background-color: #fbfbfb;
  margin: 10% auto;
}

.popup-container__question__form {
  padding: 20px;
}

.popup-container__question__form__text {
  text-align: center;
}

.popup-container__question__form__email {
  display: block;
  margin: 20px auto;
  padding: 5px 0 5px 10px;
  width: 80%;
  height: 24px;
  outline: 0;
  border: 1px solid #d96e5bbf;
}

.popup-container__question__form__textarea {
  resize: none;
  display: block;
  width: 80%;
  height: 130px;
  padding: 5px 0 5px 10px;
  margin: 0 auto;
}

.popup-container__question__form__button {
  cursor: pointer;
  display: block;
  padding: 15px 60px;
  margin: 30px auto 0 auto;
  border: none;
  color: #fff;
  background-color: #ff4e2e;
  font-size: 18px;
}

header {
  background-color: #fbfbfb;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#nav-icon {
  display: none;
  width: 45px;
  height: 45px;
  margin-top: 32px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #f82370;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2) {
  top: 14px;
}

#nav-icon span:nth-child(3) {
  top: 28px;
}

#nav-icon.open span:nth-child(1) {
  top: 14px;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
      transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 14px;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
}

.menu-mob {
  background: #fbfbfb;
}

.menu-mob_list {
  list-style: none;
  padding-left: 0;
  text-align: center;
  margin: 0;
  padding: 16px 0;
}

.menu-mob__link {
  display: inline-block;
  padding-left: 20px;
}

.menu-mob__link:first-child {
  padding-left: 0;
}

.menu-mob__link a {
  text-decoration: none;
  color: black;
}

.menu-mob__link a:visited {
  text-decoration: none;
  color: black;
}

.menu-mob__link a:hover {
  color: #fc557c;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.head nav {
  padding-top: 45px;
}

.navbar {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.navbar__link {
  display: inline-block;
  padding-left: 34px;
}

.navbar__link a {
  text-decoration: none;
  color: black;
}

.navbar__link a:visited {
  text-decoration: none;
  color: black;
}

.navbar__link a:hover {
  color: #fc557c;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.navbar__link:first-child {
  padding-left: 0;
}

.head__phone-mob {
  display: none;
  font-size: 18px;
  padding-top: 45px;
}

.head__call-order-mob {
  display: none;
  width: 27px;
  height: 26px;
  background-image: url('img/photoshop.png');
  background-repeat: no-repeat;
  padding: 0;
  margin-top: 42px;
  border: none;
  outline: none;
  cursor: pointer;
}

.head__phone {
  padding-top: 29px;
  font-size: 25px;
  font-weight: bold;
}

.head__call-order {
  width: 207px;
  height: 45px;
  background-color: #fbfbfb;
  border: 1px solid #f82370;
  color: #f53f4f;
  margin-left: 29px;
  outline: none;
  cursor: pointer;
}

.about-me {
  background-color: #fbfbfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@-webkit-keyframes fadeIn__brackets {
  0% {left: -1000px; opacity: 0.1;}
	70%{opacity: 0.4;}
	100%{left: 0px; opacity: 1;}
}

@keyframes fadeIn__brackets {
  0% {left: -1000px; opacity: 0.1;}
	70%{opacity: 0.4;}
	100%{left: 0px; opacity: 1;}
}

.about-me__fly-el-brackets {
  height: 80px;
  color: #fa0891;
  font-size: 55px;
  font-weight: bold;
  position: relative;
  top: 60px;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
	-webkit-animation: fadeIn__brackets 2s ease-in-out;
	        animation: fadeIn__brackets 2s ease-in-out;
}

@-webkit-keyframes fadeIn_hashtag {
  0%{left: -1000px; opacity: 0.1;}
	70%{opacity: 0.4;}
	100%{left: 0px; opacity: 1;}
}

@keyframes fadeIn_hashtag {
  0%{left: -1000px; opacity: 0.1;}
	70%{opacity: 0.4;}
	100%{left: 0px; opacity: 1;}
}

.about-me__fly-el-hashtag {
  height: 60px;
  color: #fa0891;
  font-size: 55px;
  font-weight: bold;
  position: relative;
  top: 330px;
  -webkit-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
          transform: rotate(15deg);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-animation: fadeIn_hashtag 2s ease-in-out;
          animation: fadeIn_hashtag 2s ease-in-out;
}

@-webkit-keyframes fadeIn_element1 {
  0%{top: 2000px; opacity: 0.1;}
	90%{opacity: 0.4;}
	100%{top: 600px; opacity: 1;}
}

@keyframes fadeIn_element1 {
  0%{top: 2000px; opacity: 0.1;}
	90%{opacity: 0.4;}
	100%{top: 600px; opacity: 1;}
}

.about-me__fly-el-element1 {
  height: 75px;
  display: inline-block;
  color: #fa0891;
  font-size: 55px;
  font-weight: bold;
  position: relative;
  top: 600px;
  left: 350px;
  -webkit-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
          transform: rotate(-20deg);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-animation: fadeIn_element1 2s ease-in-out;
          animation: fadeIn_element1 2s ease-in-out;
}

@-webkit-keyframes fadeIn_div_s {
  0%{top: -1000px; opacity: 0.1;}
	70%{opacity: 0.4;}
	100%{top: 90px; opacity: 1;}
}

@keyframes fadeIn_div_s {
  0%{top: -1000px; opacity: 0.1;}
	70%{opacity: 0.4;}
	100%{top: 90px; opacity: 1;}
}

.about-me__fly-el-div_size-s {
  height: 40px;
  color: #fa0891;
  font-size: 29px;
  font-weight: bold;
  position: relative;
  top: 90px;
  left: 500px;
  -webkit-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
          transform: rotate(-15deg);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-animation: fadeIn_div_s 2s ease-in-out;
          animation: fadeIn_div_s 2s ease-in-out;
}

@-webkit-keyframes fadeIn_div_m {
  0%{top: 1700px; opacity: 0.1;}
	70%{opacity: 0.4;}
	100%{top: 460px; opacity: 1;}
}

@keyframes fadeIn_div_m {
  0%{top: 1700px; opacity: 0.1;}
	70%{opacity: 0.4;}
	100%{top: 460px; opacity: 1;}
}

.about-me__fly-el-div_size-m {
  height: 60px;
  color: #fa0891;
  font-size: 35px;
  font-weight: bold;
  position: relative;
  top: 460px;
  left: 500px;
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-animation: fadeIn_div_m 2s ease-in-out;
          animation: fadeIn_div_m 2s ease-in-out;
}

.about-me__how-am-i {
  padding-top: 239px;
  margin-left: 39px;
}

.about-me__myname {
  display: block;
  margin: 0;
  font-size: 80px;
  font-weight: 900;
}

.about-me__profession {
  color: #8993ad;
  margin-top: 22px;
  margin-bottom: 46px;
  font-size: 25px;
}

.about-me__learn-more {
  width: 270px;
  height: 60px;
  background-color: #ff4e2e;
  font-size: 18px;
  color: white;
  border: none;
  cursor: pointer;
}

.about-me__photo {
  padding-top: 57px;
  -ms-flex-preferred-size: 814px;
      flex-basis: 814px;
  background-image: url('img/me-bg.png');
  background-repeat: no-repeat;
  background-position: bottom left;
}

.about-me__photo img {
  padding-left: 85px;
  position: relative;
  top: 4px;
}

.what-i-do__text {
  display: block;
  max-width: 320px;
  font-size: 54px;
  font-weight: bold;
  margin: 99px auto 93px;
}

.what-i-do__examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 96px;
}

.example {
  width: 270px;
}

.example_text {
  color: #8993ad;
  font-size: 20px;
  margin-top: 24px;
  text-align: center;
  line-height: 30px;
}

.example_img {
  display: block;
  margin: 0 auto;
}

.what-i-do_price {
  display: block;
  width: 270px;
  height: 60px;
  background-color: #ff4e2e;
  font-size: 18px;
  color: white;
  border: none;
  cursor: pointer;
  margin: 0 auto 103px;
}

.examples {
  background-color: #fbfbfb;
}

.examples_text {
  display: block;
  font-size: 54px;
  max-width: 560px;
  margin: 0 auto 100px;
  padding-top: 100px;
  font-weight: bold;
}

.examples_slick-list {
  margin: 0 -5px;
}

.examples_slick-list_item {
  margin: 0 25px;
}

.arrow {
  display: inline-block;
	cursor: pointer;
	width: 61px;
  height: 61px;
  position: relative;
  z-index: 5;
  border-radius: 50%;
  -webkit-box-shadow: 4px 2px 48px -8px rgba(0,0,0,0.75);
	box-shadow: 4px 2px 48px -8px rgba(0,0,0,0.75); 
}

.arrow-left {
  background: url(img/left-arrow.png) no-repeat;
  top: 185px;
  right: 11px;
}

.arrow-right {
  background: url(img/right-arrow.png) no-repeat;
  top: 185px;
  left: 1045px;
}

.examples_slick-list_item_photo { 
  height: 290px;
}

.examples_slick-list_item_text {
  font-size: 20px;
	color: #8993ad;
	margin-top: 40px;
	text-align: center;
}

.psy {
  background: url(img/psy.png) center center no-repeat;
}

.kids {
  background: url(img/kids.png) center center no-repeat;
}

.fish {
  background: url(img/fish.png) center center no-repeat;
}

.examples_order-button {
  width: 270px;
  margin: 0 auto;
}

.examples_order-button_order-project {
  outline: none;
  cursor: pointer;
  width: 270px;
  height: 60px;
  background-color: #ff4e2e;
  border: none;
  font-size: 18px;
  color: #ffffff;
  margin: 96px 0 102px;
}

.cost {
  background-image: -webkit-linear-gradient(77deg, #ff8f5a 0%, #ff2f96 99%, #ff2f96 100%);
  background-image: -o-linear-gradient(77deg, #ff8f5a 0%, #ff2f96 99%, #ff2f96 100%);
  background-image: linear-gradient(13deg, #ff8f5a 0%, #ff2f96 99%, #ff2f96 100%);
}

.cost__fly-el-brackets1 {
  display: inline-block;
  color: white;
  font-size: 43px;
  font-weight: bold;
  position: relative;
  top: 65px;
  left: 128px;
  -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
          transform: rotate(25deg);
}

.cost__fly-el-hashtag {
  display: inline-block;
  color: white;
  font-size: 55px;
  font-weight: bold;
  position: relative;
  left: 246px;
  top: 270px;
  -webkit-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
          transform: rotate(15deg);
}

.cost__fly-el-element {
  display: inline-block;
  color: white;
  font-size: 38px;
  float: right;
  font-weight: bold;
  position: relative;
  right: 200px;
  top: 81px;
  -webkit-transform: rotate(-25deg);
      -ms-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.cost__fly-el-div {
  display: inline-block;
  color: white;
  font-size: 35px;
  font-weight: bold;
  float: right;
  position: relative;
  right: 400px;
  top: 295px;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}

.cost__fly-el-brackets2 {
  display: inline-block;
  color: white;
  font-size: 48px;
  font-weight: bold;
  float: right;
  position: relative;
  right: 150px;
  top: 262px;
  -webkit-transform: rotate(160deg);
      -ms-transform: rotate(160deg);
          transform: rotate(160deg);
}

.cost__text {
  max-width: 950px;
  margin: 0 auto;
}

.cost__desc {
  display: block;
  max-width: 950px;
  font-size: 45px;
  font-weight: bold;
  color: white;
  padding-top: 20px;
  margin: 0;
}

.cost__appli {
  max-width: 755px;
  color: white;
  font-size: 18px;
  padding-top: 40px;
  padding-bottom: 86px;
}

.ft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_nav {
  max-width: 100px;
}

.footer_nav_ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 86px;
  font-size: 18px;
}

.footer_nav_ul li {
  padding-bottom: 15px;
}

.footer_nav_ul a {
  text-decoration: none;
  color: #8993ad;
}

.footer_nav_ul a:visited {
  text-decoration: none;
  color: #8993ad;
}

.footer_nav_ul a:hover {
  color: #fc557c;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.footer_nav_ul li:last-child {
  padding-bottom: 0;
}

.footer_contacts {
  margin-top: 86px;
}

.footer_contacts_ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  font-size: 25px;
}

.footer_contacts_ul_phone {
  background: url('img/call-answer.png') no-repeat left;
  padding-left: 34px;
  margin-bottom: 34px;
}

.footer_contacts_ul_mail {
  background: url('img/envelope.png') no-repeat left;
  padding-left: 34px;
}

.footer_soc-links {
  margin-top: 77px;
  margin-bottom: 71px;
}

.footer_call-order {
  width: 207px;
  height: 45px;
  background-color: #fbfbfb;
  border: 1px solid #f82370;
  color: #f53f4f;
  cursor: pointer;
  outline: none;
}

.footer_soc-links_ul {
  list-style: none;
  margin-top: 31px;
  background-image: url('img/soc-links.png');
  background-repeat: no-repeat;
  padding-left: 0;
}

.footer_soc-links_ul li {
  display: inline-block;
  width: 35px;
  height: 28px;
  padding-left: 15px;
}

.footer_soc-links_ul li:first-child {
  padding-left: 0;
}

.footer_soc-links_ul a {
  display: block;
  width: 35px;
  height: 28px;
}

.footer_copyright {
  text-align: center;
  color: white;
  background-color: #31293c;
  padding: 33px 0;
}

@media(max-width: 1818px) {
  .about-me__fly-el-brackets {
    left: 100px;
  }
  .about-me__fly-el-div_size-m {
    display: none;
  }
}
@media(max-width: 1509px) {
  .cost__fly-el-div {
    font-size: 23px;
    top: 260px;
  }
  .cost__fly-el-element {
    top: 250px;
    right: 95px;
  }
  .cost__fly-el-brackets1 {
    top: 20px;
    font-size: 29px;
  }
  .cost__fly-el-brackets2 {
    display: none;
  }
  .cost__fly-el-hashtag {
    display: none;
  }
  .about-me__myname {
    font-size: 54px;
  }
}
@media(max-width: 1200px) {
  .about-me__myname, .about-me__profession {
    text-align: center;
  }
  .about-me__learn-more {
    display: block;
    margin: 0 auto;
  }
  .arrow {
    display: none !important;
  }
  .container {
    padding: 0 40px;
  }
  .what-i-do__examples {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .example:first-child {
    margin-bottom: 85px;
  }
  .clearfix {
    width: 100%;
  }
  .navbar {
    display: none;
  }
  #nav-icon {
    display: block;
  }
  .about-me__fly-el-brackets {
    left: 270px;
    top: 100px;
    -webkit-animation: none;
            animation: none;
  }
  .about-me__fly-el-div_size-s {
    left: 720px;
    top: 20px;
    -webkit-animation: none;
            animation: none;
  }
  .about-me__fly-el-hashtag {
    top: 570px;
    left: 150px;
    -webkit-animation: none;
            animation: none;
  }
  .about-me__fly-el-element1 {
    -webkit-animation: none;
            animation: none;
  }
}
@media(max-width: 1000px) {
  .cost__desc, .cost__appli {
    margin-left: 19px;
    margin-right: 29px;
  }
  .cost__fly-el-div {
    top: 320px;
  }
  .cost__fly-el-element {
    top: 290px;
  }
}
@media(max-width: 848px) {
  .about-me__photo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
    background-size: 100%;
  }
  .about-me__photo img {
    position: relative;
    top: 177px;
  }
  .about-me {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-me__how-am-i {
    padding: 0;
    margin: 18px 20px 49px 20px;
  }
  .head__phone {
    display: none;
  }
  .head__phone-mob {
    display: block;
    margin: 0 auto;
  }
  .head__call-order-mob {
    display: block;
  }
  #nav-icon {
    width: 30px;
    margin-top: 38px;
  }
  #nav-icon span:nth-child(2) {
    top: 10px;
  }
  #nav-icon span:nth-child(3) {
    top: 20px;
  }
  .about-me__fly-el-brackets {
    position: absolute;
    left: 100px;
    top: 200px;
  }
  .about-me__fly-el-div_size-s {
    display: none;
  }
  .about-me__fly-el-hashtag {
    position: absolute;
    top: 500px;
    left: 80px;
  }
  .about-me__fly-el-element1 {
    position: absolute;
    top: 170px;
  }
  .footer_contacts_ul {
    font-size: 20px;
    color: #8993ad;
  }
  .footer_nav_ul {
    font-size: 15px;
  }
}
@media(max-width: 768px) {
  .examples_slick-list_item_text {
    font-size: 18px;
  }
  .examples_slick-list {
    margin: 0;
  }
  .cost__fly-el-brackets1, .cost__fly-el-div, .cost__fly-el-element {
    display: none;
  }
  .ft {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer_nav_ul {
    margin: 46px 0 0;
  }
  .footer_contacts {
    margin-top: 48px;
  }
  .footer_soc-links {
    margin: 25px 0 50px;
  }
}
@media(max-width: 636px) {
  .examples_text {
    font-size: 30px;
    text-align: center;
  }
  .clearfix {
    width: 0%;
  }
  .what-i-do__examples {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .example {
    margin-bottom: 55px;
  }
  .example:last-child {
    margin-bottom: 0;
  }
}
@media(max-width: 556px) {
  .about-me__photo {
    -ms-flex-preferred-size: 400px;
        flex-basis: 400px;
  }
  .about-me__photo img {
    top: 0;
    padding-left: 0;
  }
  .about-me__fly-el-brackets {
    position: absolute;
    left: 70px;
    top: 100px;
  }
  .about-me__fly-el-hashtag {
    position: absolute;
    top: 350px;
    left: 80px;
  }
  .about-me__fly-el-element1 {
    position: absolute;
    top: 170px;
  }
  .popup-container__callback, .popup-container__question {
    width: 290px;
  }
  .popup-container__callback__form__phone, .popup-container__form__name, .popup-container__question__form__email {
    width: 95%;
  }
  .popup-container__callback__form__button, .popup-container__question__form__button {
    margin: 10px auto;
  }
  .popup-container__callback__form__button {
    font-size: 16px;
  }
}
@media(max-width: 490px) {
  .container {
    padding: 0 20px;
  }
  .what-i-do__text {
    font-size: 30px;
    text-align: center;
  }
  .cost__desc {
    font-size: 28px;
    line-height: 1.5;
  }
  .cost__appli {
    font-size: 15px;
    line-height: 2;
    text-indent: -11px;
  }
  .about-me__photo img {
    width: 224px;
    height: 334px;
    padding-left: 77px;
    top: 66px;
  }
  .about-me__myname {
    font-size: 30px;
  }
  .about-me__profession {
    font-size: 16px;
  }
  .about-me__fly-el-brackets {
    font-size: 22px;
    top: 150px;
  }
  .about-me__fly-el-element1 {
    width: 30px;
    height: 30px;
    font-size: 16px;
    left: 200px;
  }
  .about-me__fly-el-hashtag {
    font-size: 28px;
    top: 250px;
  }
  .examples_slick-list_item {
    margin: 0 5px;
  }
}
@media (max-width: 380px) {
  .about-me__photo {
    background-image: url('img/head-bg-s.png');
  }
  .footer_copyright {
    font-size: 12px;
  }
}